[Unit]
Description=Run Vulture Scheduler every 15 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=15min
Persistent=true
Unit=vulture-scheduler.service

[Install]
WantedBy=timers.target
